*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    justify-content: space-around;
}

.tittle{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}
form{
    margin-left: 180px;
    font-family:'Montserrat', sans-serif ;
    margin-top: 80px;
}
form h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}
form input{
    border: 1px solid #828282;
}
label{
    font-size: 12px;
}
.contact-info label{
    line-height: 35px;
    
   
}
#user-email,#user-phone{
    width: 416px;
    padding: 8px 5px 8px 35px;
    border-radius: 5px;
    font-size: 14px;
}
.shipping-address{
    margin-top: 40px;
}
.Full-name label, .adress label, 
.city label{
    line-height: 35px;
}
#user-name, #user-address,
 #user-city{
    width: 416px;
    padding: 8px 5px 8px 35px;
    border-radius: 5px;
    font-size: 14px;

 }
 .country label{
     line-height: 35px;
 }
 #user-country{
     width: 119px;
     text-align: center;
     padding: 8px 0 8px 0;
     /* float: left; */
     border-radius: 5px;
}

.postaulke{
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.posta-code input{
    width: 212px;
    padding: 8px 5px 8px 35px;
    border-radius: 7px;
}
.down{
    position: relative;
    top: 20px;
}
/* .submit{
    margin-top: 20px;
    text-align: left;
    margin-right: 450px;
} */
/* .submit input{
    padding: 15px 10px 15px 10px;
    background-color:#F2994A ;
    border-radius: 12px;
    border: none;
    color: #ffffff;
} */

.image-upcheapter{
    /* border: 1px solid red; */
    display: flex;
    width: 280px;
    /* justify-content:flex-start; */
        
}
.image-upcheapter img{
    height: 110px;
    width: 96px;
    border-radius: 10px;
}
.right{
    margin-left: 30px;
}

.right h2, .right2 h2{
    font-size: 16px;
}
.button1{
    width:102px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: 30px;
    border-radius: 5px;
    
}
    
#mani{
    margin-top: 5px;
}
/* .button button i{
    padding: 3px;
    
} */
.button1 i{
    margin: 17px;
    background-color:#e0e0e0;
    border-radius: 2px;
    /* font-size: 12px; */
}
.downcheapter{
    /* border: 1px solid red; */
    display: flex;
    justify-content:flex-start;
    padding: 0 10px 10px 0;
}
.downcheapter img{
    height: 110px;
    width: 96px;
    border-radius: 10px;
    margin-top: 20px;
}
.button2{
    width:102px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: 30px;
    border-radius: 5px;
}
#mani2{
    margin-top: 5px;
}
.button2 i{
    margin: 17px;
    background-color:#e0e0e0;
    border-radius: 2px;
    font-weight: bold;
    /* font-size: 12px; */
}
.right2{
    margin-left: 30px;
    margin-top: 20px;
}
.image-right{
    margin-top: 60px;
    margin-right: 350px;
    font-family:'Montserrat', sans-serif ;
    color: #4E5150;
    
}
.background{
    /* border: 1px solid red; */
    background-color: #EEEEEE;
    border-radius: 10px;
    width: 320px;
    height: 365px;
    padding: 20px;
    padding-right: 60px;
}

.hori1{
    border-right-width: thin;
    display: flex;
    justify-content: space-between;
    /* width: 30%; */
    
    
}
.hori2{
    display: flex;
    justify-content: space-between;
}
.total{
    margin-top: 20px;
   
}
#continue{
    margin-top: 40px;
    margin-left: 350px;
    padding: 12px 8px 12px 8px;
    border-radius: 10px;
    border: none;
    background-color: #F2994A;
    color: #ffffff;
}
@media screen and (max-width:540px) {
    main{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 220px;
        margin-left: 30px;
    }
    .tittle{
        text-align: center;
        margin-top: 20px;
        font-family: 'Montserrat', sans-serif;
    }
}


